<!-- meta -->
{include file="blocks/_meta" /}
<!-- meta -->

<!-- header -->
{include file="blocks/_header" /}
<!-- header -->
<!-- menu -->
{include file="blocks/_menu" /}
<!-- menu -->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">空白页</span></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            这是个空白页，请在此处加入您的代码！
        </article>
    </div>
</section>
<!-- footer -->
{include file="blocks/_footer" /}
<!-- footer -->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->

<!-- end -->
{include file="blocks/_end" /}
<!-- end -->