<table class="table table-border table-bordered table-bg  table-sort">
    <thead>
    <tr>
        <th scope="col" colspan="200">操作日志管理</th>
    </tr>
    <tr class="text-c">
        <th width="40">ID</th>
        <th>管理员</th>
        <th width="50">IP</th>
        <th>操作</th>
        <th>操作的数据id</th>
        <th>客户端类型</th>
        <th>创建时间</th>
    </tr>
    </thead>
</table>
<script>
    table = $('.table-sort').dataTable({
        "processing": true,
        "searching": true,
        "serverSide": true,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "ajax": {
            "url": "getAdministratorLogList",
            "type": "POST",
            "dataType" : "json",
            "data": function (d) {
                //删除多余请求参数
                for (var key in d) {
                    if (key.indexOf("columns") == 0 || key.indexOf("order") == 0 || key.indexOf("search") == 0) { //以columns开头的参数删除
                        delete d[key];
                    }
                }
            }

        },
        "columns": [
            {"data": "id"},
            {"data": "name"},
            {"data": "ip"},
            {"data": "action"},
            {"data": "relation"},
            {"data": "agent"},
            {"data": "create_time"},
        ],
    });



</script>