<form action="" method="post" class="form form-horizontal" id="form-add">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">账户名：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <span class="">{$administrator.name}</span>
        </div>
    </div>
    {$list}
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function(){

        $("#form-add").validate({
            rules:{

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    beforeSend:function(){
                        //请求前的处理
                        index = layer.load();
                    },
                    success:function (e) {
                        console.log(e)
                        if (e.code != 1) {
                            layer.msg(e.msg)
                        } else {
                            var index = parent.layer.getFrameIndex(window.name);
                            layer.msg(e.msg)
                            setTimeout(function() {
                                parent.location.reload();
                                parent.layer.close(index);
                            }, 2000);
                        }
                    },
                    complete:function(){
                        //请求完成的处理
                        layer.close(index);
                    },
                    error:function(req){
                        //请求出错处理
                        layer.msg(JSON.parse(req.responseText).msg,{icon:2,time:3000});
                    }
                });

            }
        });

    });
</script>