.error-body{background-color: #fafbfc;}
.error-container{text-align: center;padding-top: 250px}
.error-img{width: 437px;height: 297px;background: url(../images/error.png) no-repeat;margin: 0 auto 35px;}
.error-title{color: #545454;font-size: 18px;}