<!-- meta -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_meta.html" /}
<!-- meta -->

<!-- header -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_header.html" /}
<!-- header -->
<!-- menu -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_menu.html"  menu_list_tree="$menu_list_tree"/}
<!-- menu -->
<!-- footer -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_footer.html" /}
<!-- footer -->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="{:url('index/welcome', ['method' => 'index'])}" class="maincolor">首页</a>
        {present name="title"}
        <span class="c-999 en">&gt;</span><span class="c-666"></span>
        {$title}
        {/present}

        <a class="btn btn-success radius r btn-refresh" id='reaaa' style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            {__CONTENT__}
        </article>
    </div>
</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->

<!-- end -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_end.html" /}
<!-- end -->