<!-- meta -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_meta.html" /}
<!-- meta -->

<!-- footer -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_footer.html" /}
<!-- footer -->
<article class="cl pd-20">
{__CONTENT__}

</article>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/layer.html" /}
<!-- end -->
{include file="../vendor/geek1992/tp5_rbac/view/blocks/_end.html" /}
<!-- end -->